{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Публикация вакансий
</h1>
<div class="columns">
    <div class="column is-one-fifth">
        <form action="/openings" method="post">
            <div class="field">
                <div class="control"> 
                    
                        <input class="input is-small" name="name" placeholder="Название вакансии" type="text">
                
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        <select name="types">
                            <option>Тип вашей вакансии</option>
                            {% for type in types %}
                            <option>{{type["type"]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        <select name="cities">
                            <option>Городе проживания</option>
                            {% for city in cities %}
                            <option>{{city["city"]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            
                <div class="control">
                    <button class="button is-primary is-small">Добавить</button>
                </div>
            
            
        </form>
    </div>
    <div class="column">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Город</th>
                </tr>
                </thead>
                <tbody>
                    {% for row in rows%}
                    <tr>
                    <td>{{row["id"]}}</td>
                    <td>{{row["name"]}}</td>
                    <td>{{row["type"]}}</td>
                    <td>{{row["city"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>




  
{% endblock %}